html, body, img, pre, ol, ul, li {
    margin: 0;
    padding: 0;
    border: none;
}

html, body, #app { min-height: 100vh; display:grid; min-width: 100vw;}

ol, ul, li { list-style: none; }

/* 动画 */
* {
    transition:all 0.3s;
	-moz-transition:all 0.3s; /* Firefox 4 */
	-webkit-transition:all 0.3s; /* Safari and Chrome */
	-o-transition:all 0.3s; /* Opera */
}

.grid-center{
    display: grid;
    place-content: center;
    height: 100%;
}